@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Raleway:wght@300&family=Roboto+Mono&display=swap');

*{
    margin: 0 0;
    padding: 10px 12px;
}

header *{
    height: 30px;
    text-align: center;
    color: white;
    font-size: 32px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cd/Black_flag.svg);
}

img[src="logo.png"]{
    float: left;
}

header h1{
    margin-top: 5px;
}

h1, h2, h3, h4{
    font-family: 'Roboto Mono', monospace;
    padding: 5px 5px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu{
    display: flex;
}

nav ul li{
    margin: auto;
    padding: 15px;
}

.menu a:link, a:visited{
    color: #107896;
    text-decoration: none;
}

.menu a:hover{
    color: #c02f1d;
}

.main_content h1{
    text-align: center;
}

p{
    font-family: 'Raleway', sans-serif;
}

li{
    font-family: 'Playfair Display', serif;;
}

#task{
    background-color: black;
    color: white;
    padding: 14px 16px;
}

a{
    padding: 0 0;
    color: chocolate;
}

strong, i, ul{
    padding: 0 0;
}

#task img{
    display: flex;
}

#requirements{
    padding: 14px 16px;
}

#submission{
    background-color: black;
    color: white;
    padding: 14px 16px;
}

#submission img{
    display: flex;
    margin: auto;
    width: 12%;
}

.name{
    display: flex;
    justify-content: center;
}

aside{
    background-color: black;
    color: white;
}

footer{
    display: flex;
    justify-content:center;
    border: dashed;
    font-size: 12px;
    height: 180px;
}

footer div{
    margin-right: 60px;
}

.contacts *{
    padding: 0 0;
}

.categories *{
    padding: 0 0;
}

.categories ul{
    columns: 3;
}

.quick_links *{
    padding: 0 0;
}

.map iframe{
    width: 100px;
    height: 100px;
}

#grading{
    text-align: center;
}

#grading table{
    margin: auto;
}